.catalog {
  padding: 20px;
}

.catalog h1 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 50px;
  padding: 70px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 45px;
  color: #2bf1ef;
  font-weight: bold;
  padding: 70px;
  font-family: "Pathway Gothic One", sans-serif;
}

.aparelho-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 80px; 
}

.arrow {
  background: #2bf1ef;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; 
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.aparelho-container {
  overflow: hidden;
  width: calc(
    100% - 10px
  ); 
  display: flex;
  align-items: center;
}

.aparelho-grid {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
  width: max-content;
  margin: 0 auto; 
}

.aparelho {
  border-radius: 8px;
  overflow: hidden;
  width: 300px; 
  text-align: center;
  transition: transform 0.2s ease;
}

.aparelho:hover {
  transform: scale(1.02);
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.value {
  font-size: 20px;
  color: #383838;
}

.info {
  padding: 10px;
}

.color-circles {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #000000;
}
