// Mobile
.catalog {
  width: 100%;
  margin-top: 30px;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
  }
}

.section {
  margin-bottom: 20px;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #2bf1ef;
    text-align: center;
  }
}

.aparelho-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.arrow {
  border: none;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    transform: scale(1.1);
  }
}

.aparelho-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.aparelho-grid {
  display: flex;
  transition: transform 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.aparelho {
  width: 240px;
  text-align: center;
  transition: transform 0.2s ease;
  padding: 10px 10px 0 10px;

  img {
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 1px 4px #2bf1ef;
    }
  }
}

.image-container {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.value {
  font-size: 20px;
  color: #383838;
}

.info {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.color-circles {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.more-info {
  a {
    color: #262323;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
  .aparelho {
    width: 260px;
  }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .aparelho {
    width: 280px;
  }
}

// Telas grandes
@media screen and (min-width: 1200px) {
  .aparelho {
    width: 310px;
  }
}

.whatsapp-button {
  display: inline-flex;
  align-items: center;
  background-color: #25d366;
  padding: 6px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1da851;
}

.whatsapp-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
