// Mobile
.card {
    width: 310px;
    height: 400px;
    background-color: #171417;
    margin: 0 10px 0 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.02);
    }
}

.header {
    padding-top: 20px;
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        color: #2BF1EF;
        font-family: "Pathway Gothic One", sans-serif;
        font-size: 25px;
    }
}

.media {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        height: 200px;
    }

    video {
        width: 200px;
        height: 200px;
    }
}

.content {
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 20px;
        font-family: "Pathway Gothic One", sans-serif;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
    .card {
        width: 350px;
        height: 440px;
    }

    .media {
        img {
            width: 240px;
            height: 240px;
        }
    
        video {
            width: 240px;
            height: 240px;
        }
    }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .card {
        width: 390px;
        height: 480px;
    }

    .media {
        img {
            width: 280px;
            height: 280px;
        }
    
        video {
            width: 280px;
            height: 280px;
        }
    }
}

// Telas grandes
@media screen and (min-width: 1200px) {
    .card {
        width: 430px;
        height: 520px;
    }

    .media {
        img {
            width: 320px;
            height: 320px;
        }
    
        video {
            width: 320px;
            height: 320px;
        }
    }
}