<div class="container">
  <div class="title">
    <h1>Nosso <span>Feed</span></h1>
  </div>

  <ng-container *ngIf="posts.length > 0 else loading">
    <div class="feed" #feed>
      <ng-container *ngFor="let post of posts">
        <app-card [post]="post"></app-card>
      </ng-container>
    </div>
  </ng-container>
  
  <ng-template #loading>
    <div class="loading">
      <div class="loader"></div>
    </div>
  </ng-template>

  <div class="buttons">
      <button (click)="moveLeft()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <button (click)="moveRight()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
  </div>
</div>