.container {
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #2BF1EF;

        span {
            font-weight: bold;
        }
    }
}

.feed {
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.loading {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 5px solid #2BF1EF;
    width: 40px;
    height: 40px;
    animation: loader 1s linear infinite;
}

/* Animação de rotação */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #2BF1EF;

        &:hover {
            transform: scale(1.1);
        }
    }
}