<header class="header">
    <div class="logo">
        <img src="assets/inovatech-logo.jpeg" alt="Logo">
    </div>

    <div class="menu-toggle" (click)="toggleSidebar()">
        <mat-icon>
            menu
        </mat-icon>
    </div>

    <nav class="nav">
        <ul>
            <li class="menu-item">
                <a (click)="scrollToSection('home')">Home</a>
            </li>
            <li class="menu-item">
                <a (click)="scrollToSection('store')">Quem Somos</a>
            </li>
            <li class="menu-item dropdown">
                <a (click)="scrollToSection('why')">Assistência Técnica</a>
                <span class="arrow-down"></span>
                <ul class="dropdown-menu">
                    <li>Windows</li>
                    <li>macOS(Apple)</li>
                    <li>Linux</li>
                    <li>Android</li>
                    <li>iOS (Apple)</li>
                </ul>
            </li>
            <li class="menu-item dropdown">
                <a (click)="scrollToSection('products')">Aparelhos</a>
                <span class="arrow-down"></span>
                <ul class="dropdown-menu">
                    <li>iPhone</li>
                    <li>Samsung</li>
                    <li>Xiaomi</li>
                    <li>Mac</li>
                    <li>Dell</li>
                    <li>Lenovo</li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="whatsapp">
        <a href="https://wa.me/your-whatsapp-number" target="_blank" class="whatsapp-button">
            <img src="assets/icone-whats.png" alt="WhatsApp" class="whatsapp-icon">
            <span class="whatsapp-text">Fale conosco</span>
        </a>
    </div>
    <div class="sidebar" [class.show]="isSidebarOpen">
        <div class="close-btn" (click)="closeSidebar()">
            <mat-icon>close</mat-icon>
        </div>
        <ul>
            <li><a (click)="scrollToSection('home'); closeSidebar()">Home</a></li>
            <li><a (click)="scrollToSection('store'); closeSidebar()">Quem Somos</a></li>
            <li><a (click)="scrollToSection('why'); closeSidebar()">Assistência Técnica</a></li>
            <li><a (click)="scrollToSection('products'); closeSidebar()">Aparelhos</a></li>
        </ul>
    </div>
</header>