<div class="container">
    <div class="sub">
        <div class="sub-content">
            <div class="search-button-container">
                <a href="https://www.instagram.com/inovatechsia" target="_blank" class="search-link">
                    <button class="search-button">
                        <span class="search-icon"><i class="fas fa-search"></i></span>
                        <span class="company-name">InovaTech</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-text" id="quem-somos">
                    <h2>Quem Somos</h2>
                    <p>Somos a InovaTech, uma equipe de profissionais altamente qualificados e certificados em produtos
                        Apple e Android.</p>

                    <p>Nossa missão é proporcionar a melhor experiência em assistência técnica e venda de dispositivos
                        Apple. Com anos de expertise e um compromisso inabalável com a excelência, garantimos soluções
                        rápidas, eficientes e personalizadas para todos os seus produtos Apple.
                    </p>
                    <p>Na InovaTech, a inovação e a tecnologia andam de mãos dadas para oferecer a você o melhor
                        serviço.</p>
                </div>
                <div class="timeline-image">
                    <img src="assets/quem-somos.png" alt="Quem Somos">
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-text" id="nossa-historia">
                    <h2>Nossa História</h2>
                    <p>Cristiano e Kleber construíram suas carreiras na Fujioka Eletro Imagem, onde Cristiano atuou como
                        gerente e Kleber como técnico. Durante esse período, desenvolvemos uma sólida compreensão do
                        varejo e da assistência técnica, montando e consertando computadores e dispositivos eletrônicos.
                    </p>
                    <p>Kleber seguiu seu caminho fundando a Conexão Informática, uma referência em assistência técnica
                        de computadores e telefonia por 10 anos. Enquanto isso, Cristiano continuou a ascender no mundo
                        corporativo, tornando-se gerente da Autorizada Apple iOne no Taguatinga Shopping, onde Kleber se
                        juntou novamente à equipe técnica.</p>

                    <p>Durante quatro anos, nos especializamos em produtos Apple, obtendo certificações exclusivas e
                        oferecendo suporte técnico de excelência. Nosso compromisso com a qualidade nos rendeu diversas
                        premiações no segmento, destacando nossa dedicação e expertise.</p>
                </div>
                <div class="timeline-image">
                    <img src="assets/historia.png" alt="Nossa História">
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-text" id="nosso-projeto">
                    <h2>Nosso Projeto</h2>
                    <p>Combinando décadas de experiência, fundamos a InovaTech para oferecer uma abordagem inovadora e
                        centrada no cliente.</p>

                    <p>Nosso espaço é dedicado à venda de aparelhos celulares e produtos de informática, além de
                        prestar suporte técnico abrangente e especializado. Estamos comprometidos em usar nossa vasta
                        experiência para garantir que nossos clientes tenham acesso às melhores soluções tecnológicas
                        disponíveis.
                    </p>
                </div>
                <div class="timeline-image">
                    <img src="assets/projeto.png" alt="Nosso Projeto">
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-text" id="nossa-missao">
                    <h2>Nossa Missão</h2>
                    <p>Na Inovatech, nossa missão é proporcionar a melhor experiência em tecnologia, desde a venda até o
                        suporte técnico. Estamos aqui para ajudar você a encontrar os produtos certos e garantir que
                        eles funcionem perfeitamente em sua vida cotidiana. Seja bem-vindo à Inovateh, onde a inovação
                        encontra a tecnologia.</p>
                </div>
                <div class="timeline-image">
                    <img src="assets/missao.png" alt="Nossa Missão">
                </div>
            </div>
        </div>
    </div>
</div>