// Mobile
.container {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;

  a {
    background: linear-gradient(135deg, #428887, #2bf1ef);
    padding: 10px 25px 10px 25px;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;

    span {
      margin-right: 3px;
    }

    &:hover {
      transform: scale(1.1);
      background: linear-gradient(135deg, #2bf1ef, #428887);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  width: 90%;

  div {
    text-align: center;

    h2 {
      color: #2BF1EF;
    }

    p {
      color: #FFF;
    }
  }

  img {
    display: none;
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    div {
      text-align: start;
      width: 70%;
    }

    img {
      display: block;
      width: 150px;
      height: 150px;
    }
  }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;

    div {
      text-align: start;
      width: 70%;
    }

    img {
      display: block;
      width: 150px;
      height: 150px;
    }
  }
}

// Telas grandes
@media screen and (min-width: 1200px) {
  .container {
    padding: 20px 0 20px 0;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 0 40px 0;

    div {
      text-align: start;
      width: 70%;
    }

    img {
      display: block;
      width: 150px;
      height: 150px;
    }
  }
}

// Animações:
@keyframes comesFromTheLeft {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes comesFromTheRight {
  from {
      opacity: 0;
      transform: translateX(100%);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes float {

  0%,
  100% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-5px);
  }
}

.hidden {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0s, transform 0s;
}

.comes-from-the-left {
  animation: comesFromTheLeft 1s ease-in;
}

.comes-from-the-right {
  animation: comesFromTheRight 1s ease-in;
}

img {
  animation: float 3s ease-in-out infinite;
}