// Mobile
.container {
  background-color: #F5F5F5;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;

  h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Pathway Gothic One", sans-serif;

    span {
      color: #010101;
      font-weight: bold;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.lower {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    font-family: "Pathway Gothic One", sans-serif;
    color: #000000;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    mat-icon {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 45px;
    }

  }

  p {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 26px;
  }

  &:hover {
    cursor: default;

    h2 {
      color: #2BF1EF;
    }
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 45%;
    margin-bottom: 20px;
  }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    align-items: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
  }
  
  .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .card {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
  }  
}

// Telas grandes
@media screen and (min-width: 1200px) {
  .container {
    align-items: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
  }
  
  .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .card {
    border-radius: 5px;
    width: 200px;
    height: 230px;
    padding: 20px;
    margin-bottom: 30px;
  }  
}

// Animações:
@keyframes comesFromDown {
  from {
      opacity: 0;
      transition: all 1s;
      transform: translateY(100%);
  }

  to {
      opacity: 1;
      transition: all 1s;
      transform: translateY(0);
  }
}

.comes-from-down {
  animation: comesFromDown 0.5s ease-in;
}

.hidden {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0s, transform 0s;
}