<div class="container">
    <header>
        <h1>Por que escolher <span class="highlight">Inovatech?</span></h1>
    </header>

    <section class="benefits">
        <div class="benefit-row">
            <div class="benefit">
                <h2>Certificação Apple</h2>
                <p class="compact-paragraph">Nossa equipe é composta por técnicos certificados pela Apple, garantindo
                    que seu dispositivo está em mãos qualificadas e experientes.</p>
            </div>
            <div class="benefit">
                <h2>Assistência Técnica Qualificada</h2>
                <p class="compact-paragraph">
                    Na Inovatech, nossos técnicos certificados garantem diagnósticos precisos e utilizam peças de alta
                    qualidade para reparos eficazes.
                </p>
            </div>
        </div>
        <div class="benefit-single">
            <h2>Nossos Aparelhos</h2>
            <p class="compact-paragraph">Oferecemos aparelhos de alta qualidade a preços competitivos. Trabalhamos para
                garantir que
                você obtenha o melhor valor pelo seu investimento, com opções para todos os orçamentos.</p>
        </div>
    </section>
</div>