<footer class="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <img src="assets/inovatech-logo.jpeg" alt="Logo" class="footer-logo">
            <p>&copy; 2024 InovaTech. Todos os direitos reservados.</p>
        </div>
        <div class="footer-social">
            <a class="social-icon" href="" target="_blank">
                <img src="assets/icone-whats.png" alt="WhatsApp">
            </a>
            <a href="https://www.instagram.com/inovatechsia" class="social-icon"><img src="assets/insta-logo.png"
                    alt="Instagram"></a>
        </div>
    </div>
</footer>