<footer class="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <img src="assets/inovatech-logo.jpeg" alt="Logo" class="footer-logo">
            <p>&copy; 2024 InovaTech. Todos os direitos reservados.</p>
        </div>
        <div class="footer-social">
            <a id="whatsapp" class="social-icon" href="" target="_blank">
                <img src="assets/teste-whats-white.png" alt="WhatsApp">
            </a>
            <a id="instagram" href="https://www.instagram.com/inovatechsia" class="social-icon">
                <img src="assets/teste-insta-white.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>